# Automatically install fisher if it's not already present.
if not functions -q fisher
    echo "››› fisher not found. Installing..."
    curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
end

if status is-interactive
    # Commands to run in interactive sessions can go here
end

# disable greeting
set fish_greeting

# Add ~/.local/bin to the PATH if it's not already there.
fish_add_path "$HOME/.local/bin"

# Editor
set -gx VISUAL nvim
set -gx EDITOR "$VISUAL"

abbr v nvim
abbr vim nvim

# Mise
mise activate fish | source

# Starship
starship init fish | source

# Zoxide
zoxide init fish --cmd cd | source

{{ if eq .chezmoi.os "darwin" -}}
fish_add_path /opt/homebrew/opt/libpq/bin
{{ end -}}

# gcloud completions
set -l gcloud_fish_inc (brew --prefix)/share/google-cloud-sdk/path.fish.inc
if test -f $gcloud_fish_inc
    source $gcloud_fish_inc
end
